* {
    scrollbar-width: thin;
    scrollbar-color: #ff000063 #1c1d23;
    scroll-behavior: smooth;
  }
  
  *::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: #1c1d23;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #ff000063;
    border: 3px solid #1c1d23;
  }